version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: "UTC"
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - ruby
    groups:
      bundler-minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
      bundler-security:
        applies-to: security-updates
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "05:30"
      timezone: "UTC"
    open-pull-requests-limit: 3
    labels:
      - dependencies
      - ci
    groups:
      github-actions-updates:
        patterns:
          - "*"
